backend:
  name: github
  repo: tannerharrison97/learning-in-dos-website
  branch: main
  base_url: https://api.netlify.com
  auth_endpoint: auth/done

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "blog"
    label: "Blog Posts"
    folder: "src/content/blog"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Publish Date", name: "pubDate", widget: "datetime" }
      - { label: "Author", name: "author", widget: "string", required: false }
      - { label: "Body", name: "body", widget: "markdown" }
